body {
  background-color: #171c26;
}

.app-ghost-clipboard {
  position: fixed;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  color: transparent;
}

a {
  text-decoration: none;
  color: $main-light;

  &:visited {
    color: inherit;
  }
}

#app {
  @import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap");
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: $main-light;
}