@import "@/styles/_variables.scss";
@import "@/styles/_trending.scss";
@import "@/styles/_general.scss";
@import "@/styles/_nav.scss";
@import "@/styles/_single.scss";
@import "@/styles/_random.scss";
@import "@/styles/_loader.scss";
@import "@/styles/_notifications.scss";
