#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 150px;

  h1,
  h3 {
    position: relative;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 30%;
      width: 40%;
      height: 5px;
      background-color: $secondary-accent;
      border-radius: 50px;
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }

  h3 {
    font-size: 30px;
  }

  .router-link-exact-active {
    color: $main-accent;
  }

  .logo{
    font-size: 100px;

    &::after {
      height: 10px;
    }
  }
}