#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1,
  h3 {
    position: relative;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 30%;
      width: 40%;
      height: 1vmin;
      background-color: $secondary-accent;
      border-radius: 50px;
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }

  h3 {
    font-size: 5vmin;
  }

  .router-link-exact-active {
    color: $main-accent;
  }

  .logo{
    font-size: 10vmin;

    &::after {
      height: 1.5vmin;
    }
  }
}

@media (max-width: 800px){
  #nav {
    flex-flow: column;

    .link {
      margin: 10px;
    }

    .logo {
      order: 1;
    }

    .random {
      order: 2;
    }

    .search {
      order: 3;
    }
  }
}
