.home {
  .container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;

    .loader {
      position: absolute;
      top: 40%;
      left: 40%;
    }
  }

  input {
    width: 300px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    color: $main-light;
    text-align: center;
    font-size: 30px;
    height: 50px;
    border: 0;
    border-bottom: 4px solid $secondary-accent;
    background: none;
    transition: all 0.5s;
    margin: 40px auto;

    @media (min-width: 768px) {
      margin-top: 2rem;
      font-size: 25px;
    }
  }

  input:focus {
    outline: none;
    color: $main-accent;
  }
}
